$color-azul: #1142a1;
$color-gris-claro: #c1c4c4;
$color-gris-medio: #666666;
$color-form-fondo: #f8f9fa;
$color-borde: #ccc;
$color-label: #343a40;

$fuente-principal: "TikTok Sans", sans-serif;

$espaciado-sm: 10px;
$espaciado-md: 20px;
$espaciado-lg: 30px;
