* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------------IMAGENES---------------------------------------------*/
/*Imagenes de obras sociales*/

.imgObrasSociales {
  width: 200px;
  height: 200px;
}

/*Imagenes del carousel*/
.imgCarousel {
  width: 100%;
  height: 500px;
}

/*Imagenes de redes footer*/

.imgRedesFooter {
  width: 28px;
  height: 28px;
}

/*Imagen logo header*/

#imgLogoHeader {
  width: 180px;
  height: 80px;
}

/*Imagen logo footer*/

#imgLogoFooter {
  width: 240px;
  height: 192px;
}

/*Caja contenedora del header*/

#contenedorHeader {
  display: flex;
  width: 100%;
  height: 220px;
}
/*---------------------------------------------FOOTER---------------------------------------------*/
/*Caja contenedora del footer*/

#contenedorFooter {
  display: grid;
  grid-template-areas: "logo contacto redes";
  width: 100%;
  height: 180px;
  background-color: #8acbc5;
}

.cajaFooterLogo {
  grid-area: logo;
}

.cajaFooterContacto {
  grid-area: contacto;
}

.cajaFooterRedes {
  grid-area: redes;
}
/*Botones del navbar*/

.navBar {
  display: flex;
}

/*Texto principal de la pagina de inicio*/

#textPricipal {
  display: flex;
  text-align: center;
  color: blue;
}

/*Caja contenedora de la pagina completa*/

#paginaCompleta {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
